{% block content %}
	{% if login_failure %}
	<p id=result> incorrect two-factor failure </p>
	{% endif %}
	{% if registration_failure %}
	<p id=success> registration failure </p>
	{% endif %}
	<h1>{{ form_title }}</h1>
	<form action="" method="post" novalidate>
		{{ form.hidden_tag() }}

		<p>
			{{ form.username.label }}<br>
			{{ form.username(size=32) }}
		</p>

		<p>
			{{ form.password.label }}<br>
			{{ form.password(size=32) }}
		</p>

		<p>
			{{ form.two_factor.label }}<br>
			{{ form.two_factor(size=10) }}
		</p>

		<p>
			{{ form.submit() }}
		</p>
	</form>
{% endblock %}
